<div class="banner mt-5" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://img.freepik.com/premium-vector/handshake-concept-cartoon-business-partnership-agreement-successful-meeting-cooperation-vector-shaking-hands-illustration-cooperation-relationship-businesspeople_176516-1358.jpg?w=2000);">
  <div class="container">
    <h1> <strong>MeetPeople</strong> everybody needs a buddy!</h1>
    <p>Teach more, learn more, change the globe</p>
    <button class="push-button-3d"><strong><%= link_to "I want to be a buddy", (new_offer_path if policy(Offer).new?), class: "nav-link" %></strong></button>
  </div>
</div>

<div class="container">
  <h3 class="m-2">Available buddies :</h3>
  <div class="cards m-2">
    <% @offers.each do |offer| %>
      <div class="card-trip">
      <% if offer.language == "JavaScript" %>
        <img class="card-trip-img" src="https://i0.wp.com/blog.canadianwebhosting.com/wp-content/uploads/2018/04/javascript-logo.png?fit=587%2C330&ssl=1" />
      <% elsif offer.language == "Rails" %>
        <img class="card-trip-img" src="https://rubyonrails.org/assets/images/opengraph.png">
      <% elsif offer.language =="Ruby" %>
        <img class="card-trip-img ruby" src="https://images.itnewsinfo.com/lmi/articles/grande/000000067300.jpg">
      <% else %>
        <img class="card-trip-img" src="https://www.journalduweb.org/wp-content/uploads/2019/02/apprendre-html-et-css.jpg" />
      <% end %>
        <div class="card-trip-infos">
          <div>
          <ol>
            <h2 class="offer-name"><%= link_to "#{offer.user.firstname} #{offer.user.lastname}", offer_path(offer) %></h2>
            <li> <%= offer.description %> </li>
            <li> <%= offer.address %> </li>
            <li> <%= offer.start_date %> to <%= offer.end_date %>  </li>
          </ol>
          </div>

            <h2 class="card-trip-pricing"><%= offer.price_day%>$</h2>
            <% if offer.user.photo.attached? %>
            <%= offer.user %>
              <%= cl_image_tag offer.user.photo.key, crop: :fill, gravity: :face, class: "card-trip-user avatar" %>
            <% else %>
              <%= image_tag "http://4.bp.blogspot.com/_R0Rc6mb8H6E/S1TTZJCtq8I/AAAAAAAAC9A/a50aYOK5o0o/w1200-h630-p-k-no-nu/design-fetish-no-photo-facebook-1.jpg", class: "card-trip-user avatar" %>
            <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
