<h1>Offers#new</h1>
<%= simple_form_for(@offer) do |f| %>
  <%= f.input :address %>
  <%= f.input :start_date %>
  <%= f.input :end_date %>
  <%= f.input :language, collection: ["Rails", "Ruby", "JavaScript", "HTML/CSS"] %>
  <%= f.input :description %>
  <%= f.input :price_day, label: "price/day" %>
  <%= f.submit %>
<% end %>
