
<div class="container mt-5 pt-5" >
  <%= simple_form_for(@offer) do |f| %>
     <div class="mb-3">
       <%= f.input :address,
            input_html: {data: {address_autocomplete_target: "address"}, class: "d-none"},
            wrapper_html: {data: {controller: "address-autocomplete",
            address_autocomplete_api_key_value: ENV["MAPBOX_API_KEY"]}} %>
      <br></div>
    <%= f.input :start_date %>
    <%= f.input :end_date %>
     <div class="mb-3">
        <div class="form-switch">
          <div type="checkbox" role="switch" id="flexSwitchCheckChecked" checked class="text-center">
             <%= f.input :language, collection: ["Rails", "Ruby", "JavaScript", "HTML/CSS"],  as: :radio_buttons %>
          </div>
        <div>
      </div>
    </div>
      <div class="form-rounded"><%= f.input :description %></div>
      <div id="description" class="form-text">Give us a little description about your abilities.</div>
     <br>
    <div class="form-rounded"><%= f.input :price_day, label: "price/day" %></div>
<<<<<<< HEAD
<<<<<<< HEAD
    <%= f.button :submit, class: "bouton" %>
=======
    <div class="buttun_submit pt-4"><%= f.submit %></div>
>>>>>>> 015e8b70767a1c1ada11a9cc9a64fb726749af1b
=======
    <div class="buttun_submit pt-4"><%= f.submit %></div>
>>>>>>> 9cfdc20fe2a83cd70a6ae8ffc0f39407f90ab2f0
  <% end %>
