<div class="container mt-5 pt-2 show_show">
  <h1> <%= @offer.user.firstname%> <%= @offer.user.lastname %>   </h1>
  <img src="https://kitt.lewagon.com/placeholder/users/ssaunier" alt="Saunier" width=100>
  <ul>
    <li>Habite à <%= @offer.address %></li>
    <li>Enseigne le <%= @offer.language %></li>
    <li>Disponible du <%= @offer.start_date %> au <%= @offer.end_date %></li>
  </ul>

  <% if policy(@offer).edit? %>
   <p><%= link_to "Edit this offer", edit_offer_path(@offer) %></p>
  <% end %>

  <p><%= button_to "Destroy this offer", @offer, method: :delete if policy(@offer).destroy? %></p>

  <p><%= link_to 'Go back to list', offers_path %></p>

</div>
