<h1> <%= @offer.user.firstname%> <%= @offer.user.lastname %>   </h1>

<ul>
  <li><%= @offer.address %></li>
  <li><%= @offer.language %></li>
</ul>

<% if policy(@offer).edit? %>
  <%= link_to "Edit this offer", edit_offer_path(@offer) %> |
<% end %>

<%= button_to "Destroy this offer", @offer, method: :delete if policy(@offer).destroy? %>
<div style="width: 100%; height: 600px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
<%= render 'offers/info_window', offer: @offer %>

<p><%= link_to 'Go back to list', offers_path %></p>
