<div class="container mt-5 pt-2 show_show">
  <h1> <%= @offer.user.firstname%> <%= @offer.user.lastname %>   </h1>
  <img src="https://kitt.lewagon.com/placeholder/users/ssaunier" alt="Saunier" width=100>
  <ul>
    <li>Habite à <%= @offer.address %></li>
    <li>Enseigne le <%= @offer.language %></li>
    <li>Disponible du <%= @offer.start_date %> au <%= @offer.end_date %></li>
  </ul>
  <div class="col-3">
<%= simple_form_for [@offer, @booking],
                    html: {
                      data: {
                        controller: 'flatpickr'
                      }
                    } do |f| %>

              <div class="start-date d-flex ml-6 mb-3">
                    <%= f.input :start_date,
              as: :string,
              input_html: {
                data: {
                  flatpickr_target: 'startDateInput',
                }
              } %>

  <%= f.input :end_date,
              as: :string,
              input_html: {
                # class: 'd-none',
                data: {
                  flatpickr_target: 'endDateInput'
                }
              } %>
              </div>

              <%= f.submit 'Book now!', class: 'btn btn-primary' %>
<% end %>
</div>
  <% if policy(@offer).edit? %>
   <p><%= link_to "Edit this offer", edit_offer_path(@offer) %></p>
  <% end %>

  <p><%= button_to "Destroy this offer", @offer, method: :delete if policy(@offer).destroy? %></p>

  <p><%= link_to 'Go back to list', offers_path %></p>
  <div style="width: 100%; height: 600px;"
    data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
  <%= render 'offers/info_window', offer: @offer %>

</div>
